<?xml version="1.0"?>
<config>
    <modules>
        <Desv_Metro>
            <version>0.1.0</version>
        </Desv_Metro>
    </modules>
    <frontend>
        <routers>
            <metro>
                <use>standard</use>
                <args>
                    <module>Desv_Metro</module>
                    <frontName>metro</frontName>
                </args>
            </metro>
        </routers>
        <layout>
            <updates>
                <metro>
                    <file>metro.xml</file>
                </metro>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<metro>
				<use>admin</use>
				<args>
					<module>Desv_Metro</module>
					<frontName>metro</frontName>
				</args>
			</metro>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Desv_Metro>
							<title>Metro Module</title>
							<sort_order>10</sort_order>
						</Desv_Metro>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<metro>
					<file>metro.xml</file>
				</metro>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <metro>
                <class>Desv_Metro_Model</class>
                <resourceModel>metro_mysql4</resourceModel>
            </metro>
            <metro_mysql4>
                <class>Desv_Metro_Model_Mysql4</class>
                <entities>
                    <metro>
                        <table>metro</table>
                    </metro>
                </entities>
            </metro_mysql4>
        </models>
        <resources>
            <metro_setup>
                <setup>
                    <module>Desv_Metro</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </metro_setup>
            <metro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </metro_write>
            <metro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </metro_read>
        </resources>
        <blocks>
            <metro>
                <class>Desv_Metro_Block</class>
            </metro>
        </blocks>
        <helpers>
            <metro>
                <class>Desv_Metro_Helper</class>
            </metro>
        </helpers>
    </global>
</config>